<h1>{{title}}</h1>
<nav>
  <a routerLink="/dashboard" routerLinkActive="active" >Dashboard</a>
  <a routerLink="/heroes" routerLinkActive="active">Heros</a>
  <a routerLink="/messages/x/y" routerLinkActive="active">Go To Messages</a>
  <!-- <a [routerLink]="['/','detail',11]">Hero 11</a> -->
</nav>
<router-outlet></router-outlet>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->